<div class="check-token-main-div">

  <div class="welcome-div">
    <p><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></p>
    <h1 class="title" >Welcome to PARLO Tracker!</h1>
    <p><%= link_to "Home", root_path %><br /></p>
    <h3>Current User: <%= current_user.email %> </h1>
  </div>

  <div class="link-to-curriculum">
    <h2>Link to Curriculum</h2>
    <p>
      <%= intercomponent_link('Go to Curriculum', 'http://localhost:3006/check-token') %>
    </p>
  </div>

  <div class="check-tk-div">
    <h2>This is to check a token</h1>
    <p><%= JWT.decode(session[:jwt_token], JWT_PASSWORD, true, algorithm: 'HS256') %></p>
  </div>
</div>