<div class="main-div">
  <h1 class="title" >Welcome to PARLO Tracker!</h1>
  <% if signed_in? %>
    <p>
      <%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>
    </p>
  <% else %>

    <div class="sign-in-up-div" >
      <p class="sign-up">
        <%= link_to 'Sign Up', new_user_registration_path %>
      </p>

      <p>
        <%= link_to 'Sign In', new_user_session_path %>
      </p>
    </div>
  <% end %>

  <br>
  <hr>

  <% if signed_in? %>
    <h1>Check Token Logic</h1>
    <p>
      <%= link_to 'Check Token', check_token_path %>
    </p>

    <br>
    <hr>

    <h1>Link to Curriculum</h1>
    <p>
      <%= intercomponent_link('Go to Curriculum', 'http://localhost:3006/check-token') %>
    </p>
  <% end %>
</div>